# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build
/www

# Firebase Emulator & Admin SDK
firebase-debug.log
firebase-debug.*
firebase-export/         # export/import data for emulators
serviceAccountKey.json   # never commit service keys!
.env
.env.*                   # catch all .env variants
!.env.example            # allow tracked template

# Editor settings
.DS_Store
/.vscode/*
!/.vscode/extensions.json
.idea
.nx
.nx/cache

# Optional eslint cache
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
